@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Roboto&family=Skranji&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #413C69;
    background-color: #709FB0;
}

/* header and logo */

header {
    background-color: #fff;
    width: 100%;
    height: 75px;
    top: 0;
    margin-bottom: 30px;
    position: fixed;
    z-index: 1;
}

h1, h2 {
    font-family: 'Skranji', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#logo {
    color: #413C69;
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
   border-bottom: 3px solid #709FB0;
}

.active {
    border-bottom: 3px solid #709FB0;
}

/* hero box */

#hero-outer {
    height: 600px;
    width: 100%;
    margin: 105px 0 30px 0;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/waffle-hearts.jpg) no-repeat center center;
    background-size: cover;
    margin: auto;
}

#hero-text, #hero-text h2 {
    color: #fff;
    font-family: 'Skranji', sans-serif;
}

#hero-text {
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    
    width: 300px;
    height: 200px;
    
    padding-top: 40px;
    padding-left: 10px;
    
    background-color: rgba(74,71,163, 0.7);

    bottom: 50px;
    right: 125px;

    position: absolute;
}

/* favourites section */

#favourites {
    background-color: #fff;
    height: 600px;
    width: 100%;
    margin-top: 15px;
}

#favourites-heading {
    color: #413C69;
    text-align: center;
    margin: 30px 0;
    font-size: 280%;
}

#popular-recipes {
    text-align: center;
    font-size: 110%;
    letter-spacing: 3px;
    margin-top: -15px;
}

#left-favourite {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-favourite {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-favourite {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}

.recipe-container {
    width: 360px;
    height: 360px;
    padding: 30px;
    border-style: solid;
    border-color: #A7C5EB;
    border-radius: 50%;
    margin: 0 auto;
}

#recipe-one {
    background: url(../images/salmon-square.jpg);
    height: 100%;
    border-radius: 50%;
}

#recipe-one:hover {
    background-color: rgba(74,71,163, 0.7);
    height: 100%;
    border-radius: 50%;
}

#recipe-two {
    background: url(../images/moose-burger-square.jpg);
    height: 100%;
    border-radius: 50%;
}

#recipe-three {
    background: url(../images/lasagne-square.jpg);
    height: 100%;
    border-radius: 50%;
}

/* sign up section */

#sign-up-section {
    background-image: url(../images/tirol.jpg);
    width: 100%;
    height: 600px;
    margin: 30px 0 105px 0;
}

#sign-up {
    display: block;
    text-align: center;
}

.signup-form {
    color: #fff;
    background-color: rgba(74,71,163, 0.7);
    max-width: 600px;
    padding: 30px;
    display: inline-block;
    margin-top: 75px;
}
.signup-form h2 {
    color: #fff;
}
.text-input {
    background: transparent;
    color: #fff;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fff;
    border-radius: 2px;
}
.text-input:hover {
    border-color: #A7C5EB;
}
.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #A7C5EB;
    color: #fff;
    position: below;
    display:inline-block;
}
.join-button:hover {
    background-color: #fff;
    color: #A7C5EB;
}


/* footer and social media links */

footer {
    background-color: #fff;
    height: 75px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 150%;
    color: #413C69;
    padding: 1.5%;
}