@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Roboto&family=Skranji&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #413c69;
    background-color: #709fb0;
}

/* header and logo */

header {
    background-color: #fff;
    width: 100%;
    height: 75px;
    top: 0;
    margin-bottom: 30px;
    position: fixed;
    z-index: 1;
}

h1,
h2,
h3 {
    font-family: 'Skranji', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#logo {
    color: #413c69;
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 3px solid #709fb0;
}

.active {
    border-bottom: 3px solid #709fb0;
}

/* hero box */

#hero-outer {
    height: 600px;
    width: 100%;
    margin: 105px 0 30px 0;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/waffle-hearts.jpg) no-repeat center center;
    background-size: cover;
    margin: auto;
    text-align: center;
}

#hero-text {
    color: #fff;
    font-size: 130%;
    text-align: center;
    width: 90%;
    height: 50%;
    padding-top: 5%;
    background-color: rgba(74, 71, 163, 0.7);
    top: 15%;
    left: 5%;
    position: absolute;
}

#hero-text p {
    font-size: 110%;
}

/* favourites section */

.page-section {
    background-color: #fff;
    height: 100%;
    width: 100%;
    margin: 105px 0;
    padding-bottom: 30px;
}

#favourites>.page-section {
    margin-top: 30px;
}

.section-heading {
    color: #413c69;
    text-align: center;
    margin: 30px 0;
    font-size: 280%;
}

#popular-recipes {
    text-align: center;
    font-size: 110%;
    letter-spacing: 3px;
    margin-top: -15px;
}

.left-recipe {
    padding-top: 30px;
    width: 33%;
    float: left;
}

.right-recipe {
    padding-top: 30px;
    width: 33%;
    float: right;
}

.center-recipe {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}

.recipe-container {
    width: 360px;
    height: 360px;
    padding: 30px;
    border-style: solid;
    border-color: #a7c5eb;
    border-radius: 50%;
    margin: 0 auto;
}

.fade {
    height: 300px;
    width: 300px;
    padding: 30px;
    border-radius: 50%;
    margin: 0 auto;
    opacity: 1;
}

.fade:hover {
    background: rgba(74, 71, 163, 0.7);
    opacity: 1;
}

.hover-text {
    color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    font-size: 275%;
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: center;
    opacity: 0;
}

.hover-text:hover {
    opacity: 1;
}

.hover-text a {
    text-decoration: none;
}

/* review section */

#review-section {
    background-image: url(../images/tirol.jpg);
    background-size: cover;
    width: 100%;
    height: 780px;
    margin-top: -75px;
    margin-bottom: 105px;
}

.form-section {
    display: block;
    text-align: center;
}

.form-area {
    color: #fff;
    background-color: rgba(74, 71, 163, 0.7);
    max-width: 600px;
    padding: 30px;
    display: inline-block;
    margin-top: 75px;
}

.form-area h2 {
    color: #fff;
}

.text-input {
    background: transparent;
    color: #fff;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fff;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #709fb0;
    color: #413c69;
}

.form-select {
    background: transparent;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 2px;
}

.form-select:focus {
    background-color: #413c69;
    color: #a7c5eb;
}

#review {
    background: inherit;
    width: 100%;
    color: #fff;
    margin: 5px 0 20px 0;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 2%;
}

#review::placeholder {
    background: transparent;
    color: #fff;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #a7c5eb;
    color: #413c69;
    display: inline-block;
}

.join-button:hover {
    background-color: #413c69;
    color: #a7c5eb;
}

/* recipes page */

#drinks {
    background: url(../images/glogg-square.jpg);
    height: 100%;
    border-radius: 50%;
}

#sweet {
    background: url(../images/kanelbullar-square.jpg);
    height: 100%;
    border-radius: 50%;
}

#savoury {
    background: url(../images/swedish-meatballs-square.jpg);
    height: 100%;
    border-radius: 50%;
}

/* get in touch */

#contact-us-section {
    background-image: url(../images/rice-pudding-square-lg.jpg);
    background-size: cover;
    width: 100%;
    height: 785px;
    margin: 105px 0;
}

#contact-us {
    display: block;
    text-align: center;
}

#message {
    background: inherit;
    width: 100%;
    color: #fff;
    margin: 5px 0 20px 0;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 2%;
}

#message::placeholder {
    color: #fff;
}

/* drinks page */

#glogg {
    background: url(../images/glogg-square.jpg);
    height: 100%;
    border-radius: 50%;
}

#apple-punsch {
    background: url(../images/apple-punsch-square.jpg);
    height: 100%;
    border-radius: 50%;
}

#orange-punsch {
    background: url(../images/orange-whitewine-punsch-square.jpg);
    height: 100%;
    border-radius: 50%;
}

/* savoury page */

#meatballs {
    background: url(../images/swedish-meatballs-square.jpg);
    height: 100%;
    border-radius: 50%;
}

#elk-burger {
    background: url(../images/moose-burger-square.jpg);
    height: 100%;
    border-radius: 50%;
}

#baked-salmon {
    background: url(../images/salmon-square.jpg);
    height: 100%;
    border-radius: 50%;
}

/* sweet page */

#kanelbullar {
    background: url(../images/kanelbullar-square.jpg);
    height: 100%;
    border-radius: 50%;
}

#waffles {
    background: url(../images/berry-jam-waffles-square.jpg);
    height: 100%;
    border-radius: 50%;
}

#risgrynsgrot {
    background: url(../images/rice-pudding-square.jpg);
    height: 100%;
    border-radius: 50%;
}

/* individual recipe pages */

.ingredients {
    font-size: 200%;
    padding-top: 30px;
    width: 33%;
    float: right;
}

.method h3 {
    text-align: center;
}

.method {
    font-size: 200%;
    width: 90%;
    padding: 5%;
    clear: both;
    margin-bottom: 15px;
}

.back-button {
    font-size: 200%;
    text-align: center;
    padding: 15px;
}

/* footer and social media links */

footer {
    background-color: #fff;
    height: 75px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 150%;
    color: #413c69;
    padding: 1.5%;
}

/* tablet view */

@media screen and (max-width: 1285px) {

    #popular-recipes {
        margin-bottom: 15px;
    }

    .left-recipe, .right-recipe, .center-recipe, .ingredients, .method {
        width: inherit;
        padding: 0;
        clear: both;
        margin-bottom: 15px;
    }

    .hover-text {
        opacity: 1;
    }

    #review-section {
        margin-bottom: 0;
    }

    .ingredients h3, .ingredients-list {
        text-align: center;
    }

    footer {
        position: static;
        margin-top: 30px;
    }
}

@media screen and (max-width: 900px) {

    header {
        height: 100%;
        text-align: center;
        position: static;
    }

    #logo {
        font-size: 275%;
        margin: 0 auto;
    }

    #menu-container {
        clear: both;
        margin: 0 auto;
    }

    #menu {
        display: inline-block;
    }

    #hero-outer {
        margin: 30px 0;
    }

    .page-section {
        margin: 0;
    }

    .method {
        text-align: center;
    }

    #contact-us-section {
        margin: 0;
    }

}

@media screen and (max-width: 493px) {

    #logo {
        font-size: 250%;
    }

    #menu {
        font-size: 80%;
        margin-left: 3%;
    }

    #hero-text {
        height: 80%;
        top: 7%;
    }

    .recipe-container {
        width: 275px;
        height: 275px;
        padding: 5px;
    }

    .fade {
        width: 200px;
        height: 200px;
    }

    .hover-text {
        font-size: 200%;
    }

    #review-section {
        width: 90%;
        height: 90%;
        padding: 5%;
        margin: 30px 0;
    }

    #contact-us-section {
        height: 800px;
    }

    .ingredients-list, .method-list {
        font-size: 85%;
    }

}